# Trying Tabula-Py

In [1]:
import tabula

# Read pdf into a list of DataFrame
dfs = tabula.read_pdf("upperright.pdf")

'pages' argument isn't specified.Will extract only from page 1 by default.

In [2]:
dfs

[  TCG Continuum, LLC       Date  P.O. No.
 0  3423 Southpark Pl        NaN       NaN
 1            Suite B  7/20/2022  500518.0,
                    Vendor                                          Account #  \
 0   Upper Right Marketing                                                NaN
 1         Lindsey Seibert                                                NaN
 2          675 Setzer Way                                                NaN
 3     Lexington, KY 40508                                                NaN
 4                     USA                                                NaN
 5                   Item:                                        Description
 6                     NaN                         * N30 from Payment Receipt
 7                     NaN                  *Damage & Defective Allowance: 4%
 8                     NaN  *Freight prepaid for all in and outbound bulk ...
 9                     NaN              *DO NOT SHIP. TRACY BAKER TO PICKUP.*
 10                    NaN  *Items for a new Willow & Pine order received ...
 11           843191170202                       UR9640 - SILKS TASTING GLASS
 12           843191124687     UR2431 – Commonwealth of Bourbon Tasting Glass
 13           843191169787               UR2416 - SPRING RACING TASTING GLASS
 14           843191124793                 UR2419 - FALL RACING TASTING GLASS
 15           843191156329                         UR9634 - SILKS ROCKS GLASS
 16                    NaN                                                NaN

     Unnamed: 0  Unnamed: 1               Ship To Unnamed: 2  Unnamed: 3  \
 0          NaN         NaN           Tracy Baker        NaN         NaN
 1          NaN         NaN        3110 Dade Cove        NaN         NaN
 2          NaN         NaN  Owensboro, KY  42303        NaN         NaN
 3          NaN         NaN                   NaN        NaN         NaN
 4          NaN         NaN                   NaN        NaN         NaN
 5          NaN  Color/Size                   Qty       Rate         NaN
 6          NaN         NaN                   NaN        NaN         NaN
 7          NaN         NaN                   NaN        NaN         NaN
 8          NaN         NaN                   NaN        NaN         NaN
 9          NaN         NaN                   NaN        NaN         NaN
 10         NaN         NaN                   NaN        NaN         NaN
 11         NaN         NaN                    12        NaN         4.5
 12         NaN         NaN                    12        NaN         4.5
 13         NaN         NaN                    12        NaN         4.5
 14         NaN         NaN                    12        NaN         4.5
 15         NaN         NaN                    24        NaN         4.5
 16         NaN         NaN                 Total        NaN         NaN

    Unnamed: 4
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5      Amount
 6         NaN
 7         NaN
 8         NaN
 9         NaN
 10        NaN
 11      54.00
 12      54.00
 13      54.00
 14      54.00
 15     108.00
 16    $324.00  ]

In [3]:
len(dfs)

2

In [4]:
for item in dfs[0]:
    print(item)

TCG Continuum, LLC
Date
P.O. No.

In [5]:
for item in dfs[1]:
    print(item)

Vendor
Account #
Unnamed: 0
Unnamed: 1
Ship To
Unnamed: 2
Unnamed: 3
Unnamed: 4

In [6]:
for item in dfs[1]['Vendor']:
    print(item)

Upper Right Marketing
Lindsey Seibert
675 Setzer Way
Lexington, KY 40508
USA
Item:
nan
nan
nan
nan
nan
843191170202
843191124687
843191169787
843191124793
843191156329
nan

In [7]:
for item in dfs[1]['Account #']:
    print(item)

nan
nan
nan
nan
nan
Description
* N30 from Payment Receipt
*Damage & Defective Allowance: 4%
*Freight prepaid for all in and outbound bulk product
*DO NOT SHIP. TRACY BAKER TO PICKUP.*
*Items for a new Willow & Pine order received today 7.20.22*
UR9640 - SILKS TASTING GLASS
UR2431 – Commonwealth of Bourbon Tasting Glass
UR2416 - SPRING RACING TASTING GLASS
UR2419 - FALL RACING TASTING GLASS
UR9634 - SILKS ROCKS GLASS
nan

In [8]:
dfs[0]["P.O. No."][1]

500518.0

In [9]:
dfs[1]['Account #']

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                           Description
6                            * N30 from Payment Receipt
7                     *Damage & Defective Allowance: 4%
8     *Freight prepaid for all in and outbound bulk ...
9                 *DO NOT SHIP. TRACY BAKER TO PICKUP.*
10    *Items for a new Willow & Pine order received ...
11                         UR9640 - SILKS TASTING GLASS
12       UR2431 – Commonwealth of Bourbon Tasting Glass
13                 UR2416 - SPRING RACING TASTING GLASS
14                   UR2419 - FALL RACING TASTING GLASS
15                           UR9634 - SILKS ROCKS GLASS
16                                                  NaN
Name: Account #, dtype: object

In [10]:
for item in dfs[1]['Ship To']:
    print(item)

Tracy Baker
3110 Dade Cove
Owensboro, KY  42303
nan
nan
Qty
nan
nan
nan
nan
nan
12
12
12
12
24
Total

In [11]:
for item in dfs[1]['Unnamed: 3']:
    print(item)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
4.5
4.5
4.5
4.5
4.5
nan

In [12]:
for item in dfs[0]["P.O. No."]:
    print(item)

nan
500518.0

In [13]:
dfs[0]["P.O. No."]

0         NaN
1    500518.0
Name: P.O. No., dtype: float64

In [14]:
import pandas as pd

In [15]:
nme = []
for item in dfs[1]['Vendor']:
    nme.append(item)

In [16]:
qty = []
for item in dfs[1]['Ship To']:
    qty.append(item)

In [17]:
rte = []
for item in dfs[1]['Unnamed: 3']:
    rte.append(item)

In [18]:
len(dfs[1]['Unnamed: 3'])

17

In [19]:
po = []
for item in dfs[0]["P.O. No."]:
    po.append(item)

In [20]:
len(dfs[0]["P.O. No."])

2

In [21]:
len(dfs[1]['Account #'])

17

In [22]:
ntz = []
for item in dfs[1]['Account #']:
    ntz.append(item)

In [23]:
dict1 = {'Item': nme, 'Quantity': qty, 'Rate': rte}

In [24]:
df = pd.DataFrame(dict1)

In [25]:
df

                     Item              Quantity  Rate
0   Upper Right Marketing           Tracy Baker   NaN
1         Lindsey Seibert        3110 Dade Cove   NaN
2          675 Setzer Way  Owensboro, KY  42303   NaN
3     Lexington, KY 40508                   NaN   NaN
4                     USA                   NaN   NaN
5                   Item:                   Qty   NaN
6                     NaN                   NaN   NaN
7                     NaN                   NaN   NaN
8                     NaN                   NaN   NaN
9                     NaN                   NaN   NaN
10                    NaN                   NaN   NaN
11           843191170202                    12   4.5
12           843191124687                    12   4.5
13           843191169787                    12   4.5
14           843191124793                    12   4.5
15           843191156329                    24   4.5
16                    NaN                 Total   NaN

In [26]:
df.dropna(inplace=True)
df

            Item Quantity  Rate
11  843191170202       12   4.5
12  843191124687       12   4.5
13  843191169787       12   4.5
14  843191124793       12   4.5
15  843191156329       24   4.5

In [27]:
df['PO'] = dfs[0]["P.O. No."][1]

In [28]:
df['Notes'] = dfs[1]['Account #'][9]

In [29]:
from datetime import datetime

stamp = datetime.now()
stamp_string = str(stamp)

In [30]:
df.to_excel(f'current_upperright_po3.xlsx', index=False)

In [31]:
stamp

datetime.datetime(2022, 7, 22, 9, 34, 49, 72562)

In [32]:
# convert PDF into CSV
tabula.convert_into("upperright.pdf", "output_tabula.csv", output_format="csv", pages='all')